<header>
    <div class="header-ceil">
        <div class="row">
            TextReadr
        </div>
    </div>
</header>

<div class="row">
    <form action="#">
        <div class="text-area">
            <textarea name="text" cols=100" rows="25" placeholder="Enter text to read here"></textarea>
        </div>
        <div class="buttons">
            <button id="read" class="btn btn-controls" type="button">Read</button>
            <button id="pause" class="btn btn-controls" type="button">Pause</button>
            <button id="resume" class="btn btn-controls" type="button">Resume</button>
            <button id="clear" class="btn btn-controls" type="button">Clear</button>
        </div>
    </form>
</div>

<div class="favicon-credit">Favicon made by <a href="https://www.flaticon.com/authors/freepik"
                                               title="Boy with tie reading a speech">
    Boy with tie reading a speech</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                      target="_blank">
        CC 3.0 BY</a>
</div>

<script src="javascripts/script.js"></script>