* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*---- Reusable Components ----*/
@media screen and (min-width: 501px) {
    .row {
        max-width: 1250px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .row {
        max-width: 450px;
        margin: 0 auto;
    }
}

/*---- Header ----*/
header {
    background: linear-gradient(rgba(0, 0, 90, 0.7), rgba(100, 0, 100, 0.6)), url("../images/tom.jpg") fixed center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.header-ceil {
    background-color: rgba(158, 158, 158, 0.4);
    color: #f1f1b8;
    font-size: 250%;
    padding: 0.2rem 0.8rem 0.5rem;
}

/*---- Form ----*/
form {
    top: 6rem;
    position: absolute;
    margin-left: -9px;
    /*margin: 0 auto;*/
}

textarea {
    border-radius: 5px;
    outline: none;
    overflow: auto;
    resize: none;
    padding: 15px;
    width: 100%;
}

form .btn {
    border: 1px solid transparent;
    border-radius: 5px;
    color: #555555;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-weight: 300;
    font-size: 80%;
    margin-right: 7px;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #a078b0;
    color: #f1f1b8;
}

.favicon-credit {
    bottom: 0;
    color: #a078b0;
    font-size: 70%;
    padding: 3px 3px 3px 7px;
    position: fixed;
}

.favicon-credit a:link, a:visited {
    color: inherit;
    text-decoration: underline;
    transition: text-decoration 0.2s;
}

.favicon-credit a:hover, a:active {
    text-decoration: none;
}

#resume {
    display: none;
}

.btn .btn-controls {
    width: 33.33%;
}

@media screen and (min-width: 501px) {
    .text-area {
        width: 100%;
        padding: 0.2rem 0.8rem 0.5rem 1.2rem;
    }

    .buttons {
        padding-left: 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .text-area {
        width: 100%;
        padding: 0.2rem 0.9rem 0.5rem 1.3rem;
    }

    .buttons {
        padding-left: 1.3rem;
    }
}